@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100&display=swap");

.cat_Active:hover {
  background-color: #dfd1d1;
  transition: background-color 0.5s ease;
  animation: yourAnimation 0.5s ease;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.clrpr {
  font-family: "Poppins";
}
.card-container {
  border-radius: 10px;
  animation: bounceIn 0.5s ease-out;
}

.card-container:hover {
  transform: scale(1.02);
}
.card-container {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.crd {
  display: flex;

  justify-content: center;
}
.card-container img {
  width: 100%;
  height: auto;
}

.card-container:hover {
  transform: translateY(-5px);
}
.card-container {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  /* height: 70vh; */
}

.card-container img {
  width: 100%;
  height: auto;
}

.card-container:hover {
  transform: translateY(-5px);
}
.hvrc:hover {
  transform: translateY(-9px);
}

.hvrc {
  transition: transform 0.3s ease;
}
.card-container {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-container img {
  width: 100%;
  height: auto;
}

.card-container:hover {
  transform: translateY(-5px);
}

.card-container:hover .hvr {
  display: block;
}

.hvr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.red-star {
  color: rgb(218, 35, 35) (188, 35, 35);
}

.yellow-star {
  color: rgb(161, 161, 44);
}

.green-star {
  color: green;
}

.categoy_div,
.categoy_div1 {
  display: flex;
  align-items: center;
  padding: 10px;
}
.active {
  background-color: #dde6ed;
  box-shadow: 0 4 5px;
  border-radius: 1px;
}

.categoy_Img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.d_none {
  display: none !important;
}
.colr {
  color: white;
}
.bgclr {
  background-color: rgba(250, 235, 215, 0.24);
}
.li_f {
  list-style: none;
}
.amazon_fnt {
  text-decoration: none;
  color: black;
}
.fnt32 {
  font-size: 32px;
}
.fnt14 {
  font-size: 12px;
}
.fnt16 {
  font-size: 16px;
}
.fnt18 {
  font-size: 18px;
}
.fnt28 {
  font-size: 28px;
}
.fnt24 {
  font-size: 24px;
  font-weight: bolder;
}

.dotList {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;

  &:hover .dot {
    width: 8px;
    max-width: 8px;
    height: 8px;
    max-height: 8px;
    margin-right: 12px;
  }

  & .dot {
    display: inline-block;
    width: 4px;
    max-width: 4px;
    height: 4px;
    max-height: 4px;
    margin-right: 3px;
    border-radius: 50%;
    background-color: #d2d2d2;
    transition: all 0.25s;
    cursor: pointer;

    &.active {
      background-color: #e73439;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
/* .accordion__section {
  display: flex;
  flex-direction: column;
} */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #cccccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-left: 15px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: #ffffff;
  overflow: hidden;
  transition: max-height 0.6s ease;
}
.cs {
  background-color: #f2ecbe91;
}
/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
.hovrc {
  border-bottom: 0;
  transition: border-bottom 0.3s ease-in-out;
  background-color: #dde6ed;
}
.btnhr3:hover{
border:1px solid white;
color: #ae445a;
}
.btnhr1 {
  background-color: #ae445a !important;
  border: none !important;
  color: white !important;
}

.hovrc:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.858);
}
.listy {
  list-style-type: disc;
}
.fntf {
  font-family: "Montserrat", sans-serif;
}
.btnhr:hover {
  background-color: white !important;
  color: rgb(6, 182, 252) !important;
  border: 1px solid rgb(6, 182, 252) !important;
}
.scrl {
  overflow-y: scroll;
  height: 80vh;
  /* border-right: 1px solid grey; */
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}
.bclr {
  color: black !important;
}
.bgimgre {
  background-image: url("/public/NImages/b1dfe127-9c94-492d-85d8-4889dae05368.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100% !important;
  max-width: 100%;
  opacity: 0.56;
}

@media (min-width: 368px) and (max-width: 991.98px) {
  .mdQ {
    text-align: center;
  }
  .btn_mdQ {
    width: 30px;
    float: center;
  }
}
